<header>
  <h1>Proyecto Angular y PHP</h1>
  <nav>
    <ul><li (click)="ver()">Ver</li></ul>
    <ul><li (click)="formulario=!formulario; tabla=false;">Insertar</li></ul>
  </nav>
</header>
<main>
  <div *ngIf="formulario">
    <form>
      <input type="text" placeholder="nombre" [(ngModel)]="alumno.nombre" >
      <input type="text" placeholder="apellidos" [(ngModel)]="alumno.apellidos">
      <input type="text" placeholder="estatura"  [(ngModel)]="alumno.estatura">
    </form>
    <button (click)="insertar()"> Insertar </button> 
    <div>{{datos | json}}</div>
  </div>
  <div *ngIf="tabla">
    {{datos | json}}
  </div>
</main>